* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
  font-weight: 400;
  color: #222;
}

html, body {
  overflow-x: hidden;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
}

header {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 8rem;
  background-color: #f7f7f7;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
}

.logo {
  height: 7.2rem;
  cursor: pointer;
}

.hellrent-start-btn {
  background-color: #ff3838;
  border: none;
  color: #f7f7f7;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 2rem 1.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.hellrent-start-btn:hover {
  background-color: #ff4c4c;
}

section,
aside,
footer {
  padding: 0 3rem 12rem 3rem;
  background-color: #f7f7f7;
}

.download-section p {
  text-align: center;
}

.download-img-container {
  height: 62rem;
  width: 100%;
  max-width: 64rem;
}

.download-section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding-right: 1rem;
}

.download-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.more-about:link,
.more-about:visited {
  color: #5c5858;
  font-size: 1.6rem;
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid currentColor;
  transition: all 0.1s;
}
.more-about:link:hover,
.more-about:visited:hover {
  border-bottom: 1px solid transparent;
  color: #6c6969;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta,
.you-can-make-paragraph {
  font-size: 6rem;
}

.cta {
  color: #ff3838;
}

.nights-paragraph {
  font-size: 2.4rem;
}

.money {
  font-size: 11rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.nights {
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.range-input {
  -webkit-appearance: none;
  width: 44rem;
  height: 4px;
  background: #d7d7d7;
  border-radius: 5px;
  outline: none;
}

.range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  background: #d7d7d7;
  border-radius: 5px;
}

.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #222222;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
  margin-top: -13px;
}

.range-input::-moz-range-track {
  width: 100%;
  height: 4px;
  background: #d7d7d7;
  border-radius: 5px;
}

.range-input::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #222222;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.choose-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.choose-heading {
  font-size: 5.2rem;
  font-weight: bold;
}

.choose-img-container img {
  width: 100%;
  border-radius: 25px;
}

.description-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: start;
}

.description-container p,
.comparison-grid-container {
  font-size: 2rem;
}

.description-text,
.comparison-text {
  color: #5b5b5b;
  line-height: 1.4;
}

.description-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
}

.hellrent-partners-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hellrent-partners-heading {
  font-size: 5.2rem;
  font-weight: bold;
  text-align: center;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 1.6rem;
}

.partner-img-container img {
  width: 100%;
  height: 36rem;
  object-fit: cover;
  border-radius: 25px;
}

.hellrent-partners-text {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  border: 1px solid #222222;
  border-radius: 10px;
  font-size: 1.6rem;
  padding: 0.6rem 1.2rem;
  background-color: transparent;
  cursor: pointer;
  color: #222222;
  transition: all 0.3s;
  margin-top: 2rem;
}

.btn:hover {
  background-color: #dbdbdb;
  color: #1f1f1f;
}

.comparison-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.comparison-grid-centred-container {
  width: 90rem;
}

.comparison-grid-container {
  display: grid;
  grid-template-columns: 48rem 17rem 17rem;
  row-gap: 3rem;
}

.comparison-heading {
  font-size: 5.2rem;
  font-weight: bold;
  text-align: center;
}

.comparison-info {
  width: 48rem;
  margin-right: 6.8rem;
}

.comparison-info-heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hellrent-comparison-paragraph,
.competitors-comparison-paragraph {
  font-size: 2.4rem;
}

.hellrent-comparison-paragraph {
  grid-column: 2/3;
}

.comparison-img-container {
  width: 5rem;
  height: auto;
}

.comparison-img-container img {
  width: 100%;
}

.hellrent-comparison-paragraph,
.competitors-comparison-paragraph,
.comparison-img-container {
  align-self: center;
  justify-self: center;
}

.comparison-grid-container button {
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}

.qa-container-section {
  display: flex;
  gap: 10rem;
}

.qa-heading {
  font-size: 5.2rem;
  font-weight: bold;
  align-self: flex-start;
}

.questions-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  row-gap: 3.6rem;
}

.question {
  font-size: 2.6rem;
}

.q-open {
  height: 3rem;
  stroke: #222222;
  cursor: pointer;
  transition: all 0.2s;
}

.q-open:hover {
  stroke: #383838;
}

.aside-container {
  display: flex;
  justify-content: space-between;
}

.aside-item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.aside-item-heading {
  font-size: 2.2rem;
  margin-bottom: 0.6rem;
}

.aside-item a:link,
.aside-item a:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #222222;
  transition: all 0.1s;
}

.aside-item a:link:hover,
.aside-item a:visited:hover {
  color: #383838;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links-container {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

footer a,
footer p {
  font-size: 1.6rem;
  color: #222222;
}

footer img {
  height: 2rem;
}

.social-img {
  cursor: pointer;
  transition: all 0.2s;
}
.social-img:hover {
  opacity: 0.92;
}

.language:link {
  margin-left: -1.2rem;
}

.language:link,
.language:visited,
.currency:link,
.currency:visited {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
}

.language:link:hover,
.currency:link:hover {
  color: #383838;
  border-bottom: 1px solid currentColor;
}

@media (max-width: 82.5em) {
  .cta {
    text-align: center;
  }
}

@media (max-width: 64em) {
  .download-section-container {
    flex-direction: column;
    align-items: center;
  }

  .info-container {
    padding-right: 0;
    text-align: center;
  }

  .download-img-container {
    width: 100%;
    height: auto;
  }

  .download-img-container img {
    width: 100%;
    height: auto;
  }

  .range-input {
    width: 100%;
    max-width: 44rem;
  }

  .qa-container-section {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }

  .qa-heading {
    text-align: center;
  }

  .questions-container {
    width: 100%;
  }

  .question {
    font-size: 2rem;
  }
}


.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 3.2rem;
}

.nav-link {
  font-size: 1.8rem;
  text-decoration: none;
  color: #222;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ff3838;
}


.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
  z-index: 1000;
}

.burger-icon,
.burger-icon::before,
.burger-icon::after {
  display: block;
  width: 3rem;
  height: 3px;
  background-color: #222;
  transition: all 0.3s;
}

.burger-icon {
  position: relative;
}

.burger-icon::before,
.burger-icon::after {
  content: '';
  position: absolute;
  left: 0;
}

.burger-icon::before {
  top: -8px;
}

.burger-icon::after {
  top: 8px;
}


.burger-menu.active .burger-icon {
  background-color: transparent;
}

.burger-menu.active .burger-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.burger-menu.active .burger-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

@media (max-width: 48em) {
  header {
    padding-bottom: 8rem;
  }

  .header-container {
    min-height: 7.2rem;
  }

  .main-nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #f7f7f7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }

  .main-nav.open {
    left: 0;
  }

  .nav-list {
    flex-direction: column;
    gap: 4rem;
    text-align: center;
  }

  .nav-link {
    font-size: 2.4rem;
  }

  .burger-menu {
    display: block;
  }

  .hellrent-start-btn {
    display: none;
  }

  .download-section {
    padding-top: 8rem;
  }
}